<% if current_user %>
<span class="signout-button">
  <%= button_to "Sign Out", session_url, :method => :delete %>
</span>
  <div id='root'></div>
<% else %>
  <div class="splash-container">
    <span>Welcome to Scribe! An Evernote inspired web app built using
    Ruby on Rails and React.js</span>
    <ul>
       <li><a href="https://github.com/MZ2288/Scribe"><span className="underline">Github</span></a></li>
       <li><a href="/session/new"><span className="underline">Sign In</span></a></li>
       <li><a href="/users/new"><span className="underline">Sign Up</span></a></li>
     </ul>
  </div>
  <div id="picture"></div>
<% end %>
