<h1>Sign In</h1>

<form class="sign-up-form" action="/session" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

          <div class="form-group">
            <label class="label-text">Username</label>
            <input type="text" class="form-control username" name="user[username]">
          </div>

          <div class="form-group">
            <label class="label-text">Password</label>
            <input type="password" class="form-control password" name="user[password]">
          </div>

          <!-- <label class="label-text"><input type="checkbox" class="checkbox-input">&nbsp;&nbsp;Remember Me</label> -->

          <input type="submit" value="Sign In" class="btn btn-custom">
          <input type="button" value="Guest Login" class="btn btn-custom guest">
          <a class="forgot-password" href="#">Forgot Password?</a>
        </form>
