
<div class="container">
  <div class="row lg-margin-top">
    <div class="col-xs-6 col-xs-offset-3 text-align">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h1>Create Account</h1>
      <% if flash.now[:errors] %>
        <div class="alert alert-danger text-center" role="alert">
          <%= flash.now[:errors][0] %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="relative col-xs-10 col-xs-offset-1">
      <div class="col-xs-6 col-xs-offset-3">
        <form class="sign-up-form" action="/users" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

          <div class="form-group">
            <label class="label-text">Username</label>
            <input type="text" class="form-control" name="user[username]">
          </div>

          <div class="form-group">
            <label class="label-text">Password</label>
            <input type="password" class="form-control" name="user[password]">
          </div>

          <input type="submit" value="Create Account" class="btn btn-sign-up">
        </form>
      </div>
    </div>
  </div>
</div>
