/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "notebook_index.scss";
 @import url(https://fonts.googleapis.com/css?family=Arvo|Pacifico);
 ul {
   list-style: none;
 }

 html, body {
   height: 100%;
   font-family: "arvo";
 }

 #root {
   height: 100%;
   width: 100%;
   position: relative;
   overflow-x: hidden;
   overflow-y: hidden;
   background-color: white;
 }

 nav {
   background: gainsboro;
   height: 7%;
   min-height: 25px;
   border: 3px solid;
   border-right-width: 0;
 }

 nav header h1 {
   padding-top: 4px;
   margin-top: 0px;
   font-family: "pacifico";
   font-size: 3.6em;
   height: 100%
 }

 .signout-button {
   float: right;
   position: absolute;
   top: 10px;
   right: 10px;
   border: 3px solid;
   border-radius: 5px;
 }

 .signout-button:hover {
  cursor: pointer;
  color: black;
  border: 4px solid;
  background-color: white;
  border-radius: 3px;
 }

 .container.group {
   outline: 0;
   width: 64%;
   overflow-y: auto;
   width: 70%;
   position: absolute;
   right: -14px;
 }

 .save-button:hover {
  cursor: pointer;
  background-color: #2dbe60;
  color: white;
 }

 .save-button {
   margin-top: 15px;
   border: 2px solid;
   border-radius: 2px
 }

 .ql-picker-label.ql-active {
   overflow: hidden;
 }

 .quill-contents.ql-container.ql-snow {
   background-color: white;
   border-radius: 10px;
   min-height: 900px;
   border: 2px solid gainsboro;
 }

 .allnotes-container, .notebook-container,
 .allnotes-container.active, .notebook-container.active  {
   background-color: white;
   height: 100%;
   border: 3px solid black;
 }

 .newnotebook-button, .backtonotebooks-button {
   top: 10px;
   right: 10px;
   border: 5px solid;
   border-radius: 5px;
 }

 .newnotebook-button:hover {
  cursor: pointer;
 }

 .ql-snow.ql-toolbar .ql-picker .ql-picker-label.ql-active, .ql-snow.ql-toolbar .ql-picker .ql-picker-label:hover {
   color: black;
}
